/*Footer*/
.footer {
    background: #121212;
    margin: 0;
}

.copyright a{
    color: darkred;
}
.footer p{
    color: rgba(255,255,255,.3);
}
.footer-heading{
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
.logo{
    color: white;
}
.menu{
    margin-bottom: 30px;
}
.menu a{
    color: rgba(255,255,255,.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*.ftco-footer-social{*/
/*li{*/
/*a{*/
/*    background: transparent;*/
/*    border: 1px solid primary;*/
/*}*/
/*}*/
/*}*/



#image {
    width: 100px;
    height: 100px;
}

#header-right-block {
    display: flex;
    justify-content: flex-end;
}

#header-overall {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-title {
    display: flex;
    justify-content: center;
    margin-left: 300px;
}

#header-auth {
    display: flex;
    justify-content: space-evenly;
}

#login {
    margin-left: 5px;
    margin-right: 5px;
}

#logout {
    margin-left: 5px;
    margin-right: 5px;
}

#nickname-span {
    margin-left: 5px;
    margin-right: 5px;
}

#header-account-button {
    margin-left: 5px;
    margin-right: 5px;
}

#header-cart-button {
    margin-left: 5px;
    margin-right: 5px;
}

#login-error {
    color: red;
}

.no-border-table {
    border: 0;
}

.no-border-td {
    border: 0;
}

#horizontal-pdp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#horizontal-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#vertical-pdp-left {
    display: flex;
    flex-direction: column;
}

#vertical-pdp-right {
    display: flex;
    flex-direction: column;
}

#image-pdp {
    width: 250px;
    height: 250px;
}

#description-pdp {
    width: 400px;
}

.items-inline {
    display: inline-flex;
}

#add-to-cart-form {
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
}

.buttons {
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    background: lightgrey;
    transition: 0.2s;
}

.vertical-divs {
    display: flex;
    flex-direction: column;
}

.horizontal-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#success-result {
    color: green;
}

#result-green {
    color: green;
}

#result-red {
    color: red;
}

.red-res {
    color: red;
}

.green-res {
    color: green;
}


input, select, button{
    opacity: 1;
    transition: all 0.2s ease-in;
}

[readonly], [disabled]{
    border: 1px solid transparent!important;
    cursor: not-allowed;
    transition: all 0.2s ease-in;
}

button[disabled]{
    opacity: 0;
    transition: all 0.2s ease-in;
}

.c-header, .container, .container-custom {
    max-width: 1180px;
    margin: 0 auto;
}


/*------------*/
